/* CSS Reset */
body { margin:0; padding:0; font-size:100%; line-height:1; }
body {
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
  }
  nav {
    border-bottom: 1px solid #000000;
  }
  
  li,a {
      margin:.5em;
     list-style-type: none;
      text-decoration: none;
      color: #000000;
  }
  
  .main_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_section > * {
    flex: 1;
  }
  .header  {
    align-self: center;
    padding-left: 3rem;
    font-style: normal;
    font-weight: 100;
    font-size: clamp(3rem,1rem + 10vw,5rem);
    /* line-height: 100px; */
    letter-spacing: -5.292px;
  }

  #p5_sketch {
    border-left: 1px solid #000000;
    background-color: #000000;
    align-self: center;

  }
 
  .header h1{
    margin: 0;
  }
  .header p{
    margin: 0;
  }


  .about_section{
    background: #000000;
    color: white;
  }
  .about  {
    padding: 50px;
    font-size: 3em;
  }
  .about > p {
    font-size: clamp(.5rem,1rem + 5vw,1.5rem);
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
  }

  .project_section > h2 {   
    color:#000000;
    font-size: 3.5em;
    text-align: center;

  }
  .design_section {
    font-size: 2em;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
    
  }

.design_section:nth-child(1) {
    background: #FFF4EE;
    font-size: 3em;
    padding-left: 50px;
    text-align: left;
}



  ol div {
    align-self: center;
  }
  
  ol {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
  }
  .project_title {
    text-align: center;
  }
  
 .design_section_grid {
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
    text-align:center;
    max-width: 100%;
    overflow: hidden;
  } 
  .design_section_grid > * {
    border: .5px solid black;
  }
  .design_section_grid > div {
    text-align: left;
    padding: 1rem;
  }
  h5 {
    color: #000;
    font-size: 2vw;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -0.1vw;
  }
 

   
   #item-0 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 6;
    
  }
  #item-1 {
  
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    
  }
  #item-2 {
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    
  }
  #item-3 {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;

  } 
  img {
    width: 100%;
  }
  
   footer {
    background:#000000;
    color:white;
    padding: 50px;
    font-size: clamp(3rem,1rem + 10vw,5rem);

  
  
  }
  h4 {
    margin-bottom: 0;
  }
  h4 > span {
    color: #FDF4F4;
  }
  button {
    background: #FDF4F4;
    border: 1px solid #000000;
    font-size: 1.3rem;
    border-radius: 20px;
    padding: 15px;
  } 

  @media (max-width: 700px) {
    .header  {
      text-align: center;
    }
    #p5_sketch {
      display: none;
    }
    .header {
      padding:2rem;
    }
    .design_section:nth-child(1) {
      text-align: center;
      padding:0
    }

 
  }


 
  
    